<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    id="WebApp_ID" version="4.0">
    <display-name>EmailManager</display-name>
    
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>EmailServlet</servlet-class>
        <init-param>
            <param-name>filePath</param-name>
            <param-value>C:\Users\ASUS\eclipse-workspace\EmailManager\WebContent\adresses.txt</param-value> <!-- Replace with your actual path -->
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet</url-pattern>
    </servlet-mapping>
</web-app>
